extends layouts/main_layout.pug

block content
    .container.mt-5.is-max-desktop
        .columns 
            .column.is-three-fifths
                .card
                    .card-content
                        form(action="/addproduct", method="post").form
                            .field
                                label.label Product Name
                                    .control
                                        input(type="text" placeholder="enter Product Name" name="title").input 
                                    .control
                                        button(type="submit").button Add Product