<%- include("includes/main.ejs") %>
<div class="section">
    <div class="container is-max-desktop">
        <h1 class="title">K-SHOP Home</h1>
        <p class="subtitle">This is the Home page of our App.</p>
        <a href="/store" class="button">Go to Store</a>
    </div>
</div>