extends layouts/main_layout.pug

block content
    .section
        .container.is-max-desktop
            h1.title K-SHOP Home
            p.subtitle This is the Home page of our App.
            a(href="/store").button Go to Store
        
        