doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title K Shop
        link(rel="stylesheet", href="css/style.css")
    body 
        .section
            .container.is-max-desktop
                h1.title Store Page
                p.subtitle Here, We can find all products in our store.
                a(href="/").button Go to Home

            .container.mt-5.is-max-desktop
                h1.title All Products
                .columns.is-multiline
                    each product in allProducts
                        .column.is-3
                            .card
                                .card-image
                                    img(src="https://api.time.com/wp-content/uploads/2015/06/521811839-copy.jpg", alt="")
                                .card-content
                                    h1.title.is-4= product
                                    p.subtitle.is-6 Product description
                                footer.card-footer 
                                    h1.card-footer-item.is-4 Rs.255/-