extends layouts/main_layout.pug
block content
    .section
        .container.is-max-desktop
            h1.title.has-text-info Store Page
            p.subtitle Here, We can find all products in our store.
            a(href="/").button Go to Home
        if allProducts.length > 0
            .container.mt-5.is-max-desktop
                h1.title All Products
                .columns.is-multiline
                        each product in allProducts
                            .column.is-3
                                .card
                                    .card-image
                                        img(src="https://api.time.com/wp-content/uploads/2015/06/521811839-copy.jpg", alt="")
                                    .card-content
                                        h1.title.is-4= product
                                        p.subtitle.is-6 Product description
                                    footer.card-footer 
                                        h1.card-footer-item.is-4 Rs.255/-
        else
            .container.is-max-desktop
                h1.title No Products found