@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";
.active {
  background-color: #485fc7 !important;
}
.image img {
  width: 530px;
  height: auto;
}

.card-image {
  overflow: hidden;
  max-height: 220px;
}
